.my-container {
    background-image: url("../images/BG_U.png");
    height: 5000px;
    background-repeat: no-repeat;
}
.form-container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 150px;
}
.card {
    margin-bottom: 20px;
    hr {
        color: #e5e5e5;
        margin: 0 15px;
    }

    background-color: white;
    border-radius: 3px;
    .header {
        font-size: 28px;
        color: #076db6;
        font-weight: 700;
        padding: 20px 15px 15px 15px;
        margin-bottom: 0 !important;
    }
    .question {
        font-size: 18px;
        color: #222222;
        margin-bottom: 15px;
    }
}
.form-group {
    padding: 15px;
    label {
        font-size: 16px;
    }
}

#more-ans-input {
    font-size: 16px !important;
    width: 50%;
}

.more-ans-input-line {
    border-bottom: 1px solid;
}

// Input select trên mạng

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
    --px-dropdown-color-border: #e5e5e5;
    --px-dropdown-color-border-active: rgb(0, 0, 0);
    --px-dropdown-color-bg: rgb(10, 15, 25);
    --px-dropdown-color-panelbg: rgb(255, 255, 255);
    --px-dropdown-color-panelfont: rgb(19, 26, 41);
    --px-dropdown-color-panelhover: rgb(235, 237, 243);

    --px-color-font: rgb(245, 247, 250);
    --px-color-bodybg: rgb(19, 26, 41);

    --px-dropdown-width: 240px;
    --px-dropdown-height: 46px;
    --px-dropdown-transition-duration: 300ms;
    --px-dropdown-iconsize: 18px;

    --px-fontfamily: "Inter", sans-serif;
    --px-fontsize: 14px;
    --px-fontweight-normal: 400;
    --px-fontweight-bold: 600;
    --px-lineheight: 1.5;
}

html {
    font-size: var(--px-fontsize);
}

.px-dropdown {
    position: relative;
    width: var(--px-dropdown-width);
    height: var(--px-dropdown-height);
}

.px-dropdown-input {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: var(--px-dropdown-color-border);
    border-radius: 5px;
    // background-color: var(--px-dropdown-color-bg);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: border-color var(--px-dropdown-transition-duration) ease;
}
.px-dropdown.active .px-dropdown-input {
    border-color: var(--px-dropdown-color-border-active);
}

.px-dropdown-input input {
    // color: var(--px-color-font);
    font-size: 1.1rem;
    flex: 0 0 auto;
    width: 85%;
    height: 100%;
    padding: 0 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

.px-dropdown-input svg {
    font-size: var(--px-dropdown-iconsize);
    flex: 0 0 auto;
    width: 15%;
    text-align: center;
}
.px-dropdown-input i {
    color: #777777;
}

.px-dropdown-panel {
    overflow: scroll;
    height: 200px;
    font-size: 16px;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 50px);
    border: 1px solid;
    border-color: var(--px-dropdown-color-border);
    border-radius: 5px;
    background-color: var(--px-dropdown-color-panelbg);
    // overflow: hidden;
    overflow-x: hidden;
    opacity: 0;
    pointer-events: none;
    transition: top var(--px-dropdown-transition-duration) ease, opacity var(--px-dropdown-transition-duration) ease;
}
.px-dropdown.active .px-dropdown-panel {
    top: calc(100% + 4px);
    opacity: 1;
    pointer-events: auto;
}

.px-dropdown-panel ul {
    list-style: none;
}
.px-dropdown-panel ul li {
    color: var(--px-dropdown-color-panelfont);
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: background-color var(--px-dropdown-transition-duration) ease;
}

.px-dropdown-panel ul li:hover {
    background-color: var(--px-dropdown-color-panelhover);
}
// custom scroll
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//  ----------------------CSS của form validate--------------------------
.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}
